__pycache__/
*.pyc

.venv/
venv/

.vscode/
.idea/

.ipynb_checkpoints/

# Don't upload datasets
dataset/
datasets/

# Don't upload training outputs
outputs/*.png
outputs/*.csv

# KEEP THE CNN MODEL
!outputs/digit_cnn.keras

# Don't upload secrets
.env
.env.*
.streamlit/secrets.toml

# YOLO training runs
runs/

# Temporary files
*.log
.DS_Store